<div
  class={{bem
    this.blockName
    modifier=(hash type=@flash.type is-exiting=@flash.exiting)
  }}
  role="alert"
  ...attributes
  {{on "mouseenter" this.preventExiting}}
  {{on "mouseleave" this.allowExiting}}
>
  <div
    class={{bem this.blockName "close"}}
    role="button"
    {{on "click" @flash.destroyMessage}}
  >
    {{svg-jar "cancel" class="o-icon"}}
  </div>
  {{#if (eq @flash.type "success")}}
    {{svg-jar "check_circle" class=(bem this.blockName "icon")}}
  {{else}}
    {{svg-jar "error" class=(bem this.blockName "icon")}}
  {{/if}}
  <div class={{bem this.blockName "content"}}>
    <div class={{bem this.blockName "message"}}>
      {{@flash.message}}
    </div>
    {{#unless @flash.sticky}}
      <div class={{bem this.blockName "progress"}}>
        <div
          class={{bem this.blockName "bar"}}
          {{did-insert this.startProgress}}
        ></div>
      </div>
    {{/unless}}
  </div>
</div>
