<div
  class={{bem this.blockName modifier=(hash is-open=this.confirm.showPrompt)}}
  ...attributes
>
  <div
    class={{bem this.blockName "overlay"}}
    role="button"
    {{on "click" this.confirm.cancel}}
  ></div>
  <div class={{bem this.blockName "container"}}>
    <AnimatedContainer>
      {{#animated-if
        this.confirm.showPrompt
        use=this.slideFromBottom
        duration=500
      }}
        <div class={{bem this.blockName "content"}}>
          {{component (concat "application/confirm/for/" this.confirm.type)}}
        </div>
      {{/animated-if}}
    </AnimatedContainer>
  </div>
</div>
