<div
  class={{bem this.blockName}}
  role="dialog"
  aria-labelledby="dialog-label"
  aria-describedby="dialog-description"
  ...attributes
>
  <h2 class={{bem this.blockName "title"}} id="dialog-label">
    {{yield this.confirm to="title"}}
  </h2>
  <div lass={{bem this.blockName "message"}} id="dialog-description">
    {{yield this.confirm to="message"}}
  </div>
  {{#if (has-block "actions")}}
    {{yield this.confirm to="actions"}}
  {{else}}
    <Ui::Button @icon="delete" @style="danger" {{on "click" @confirm.confirm}}>
      {{this.cancelLabel}}
    </Ui::Button>
    <Ui::Button
      @icon="cancel"
      @style="secondary"
      {{on "click" @confirm.cancel}}
    >
      {{this.confirmLabel}}
    </Ui::Button>
  {{/if}}
</div>
