<div block:scope ...attributes>
  {{#if this.peer.hasConnection}}
    {{#each-in this.peer.connections as |id connection|}}
      <div block:class="connection">
        Display: {{connection.metadata.display.id}}<br>
        Peer: {{connection.peer}}<br>
        Size: {{connection.metadata.window.width}}x{{connection.metadata.window.height}}px
        {{!-- template-lint-disable require-input-label --}}
        <Input @value={{this.value}} />
        <Ui::Button
          {{on "click" (fn this.sendMessage connection)}}
        >
          Send
        </Ui::Button>
      </div>
    {{/each-in}}
  {{else}}
    <div block:class="connection">
      {{t "setup.connectionList.noConnection"}}
    </div>
  {{/if}}
</div>
