{{page-title "Error"}}

{{#let "c-error" as |blockName|}}
  <div class={{bem blockName}}>
    {{#if @model.errors}}
      {{#each @model.errors as |error|}}
        <div class={{bem blockName "status"}}>
          {{error.status}}
        </div>
        <h1 class={{bem blockName "title"}}>
          {{error.title}}
        </h1>
        <div class={{bem blockName "detail"}}>
          {{error.detail}}
        </div>
      {{/each}}
    {{else}}
      <div class={{bem blockName "status"}}>
        {{t "error.status"}}
      </div>
      <h1 class={{bem blockName "title"}}>
        {{t "error.title"}}
      </h1>
      <div class={{bem blockName "detail"}}>
        {{t "error.detail"}}
      </div>
    {{/if}}
  </div>
{{/let}}
