<div class={{bem this.blockName}} ...attributes>
  <div class={{bem this.blockName "notifications"}}>
    {{#each this.flashMessages.queue as |flash|}}
      <Application::Notification @flash={{flash}} />
    {{/each}}
  </div>
  <div class={{bem this.blockName "content"}}>
    {{yield}}
  </div>
  <Application::Confirm />
</div>
